<%= render '/home/rpcsql' %>

<style media="screen">
  body, input, textarea, button {
    font-size: 12pt;
  }
</style>

<div>
  <h1>RPC JSON</h1>
  <h2>JavaScript</h2>
<pre>
RpcSql('<%= api_path %>')
  .select('posts.id', 'email as author', 'title', 'body')
  .from('users')
  .join('posts', 'users.id', '=', 'posts.user_id')
  .orderBy('posts.id', 'desc')
  .post(callbackFn)
</pre>
<div>
<div>
  <hr>
  <h2>Response</h2>
  <div id="results"></div>
</div>

<script type="text/javascript">
  $(document).ready(function(e) {
    RpcSql('<%= api_path %>')
      .select('posts.id', 'email as author', 'title', 'body')
      .from('users')
      .join('posts', 'users.id', '=', 'posts.user_id')
      .orderBy('posts.id', 'desc')
      .post(function(data) {
        var str = JSON.stringify(data, "", 2)
        $('#results').html('<pre>' + str + '</pre>')
      })

    /*
    RpcSql('<%= api_path %>')
      .select('users.email', 'count(*) as numOfPosts')
      .from('users')
      .join('posts', 'users.id', '=', 'posts.user_id')
      .groupBy('users.id')
      .post(function(data) {
        var str = JSON.stringify(data, "", 2)
        $('#results').html('<pre>' + str + '</pre>')
      })

    RpcSql('<%= api_path %>')
      .select('comments.body', 'users.email as author')
      .from('comments')
      .join('posts', 'comments.post_id', '=', 'posts.id')
      .join('users', 'posts.user_id', '=', 'users.id')
      .where('comments.user_id', '=', '2')
      .and('posts.id', '=', '2')
      .post(function(data) {
        var str = JSON.stringify(data, "", 2)
        $('#results').html('<pre>' + str + '</pre>')
      })
    */
  })
</script>
